html {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-size: 100%;
}

body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	line-height: 28px;
	color: #0d0c22;
	font-size: 16px;
	font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;

	/* 空出导航栏 */
	padding-top: 60px;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	caret-color: #fff;
}
a {
	color: #6e6d7a;
	text-decoration: none;
	overflow: hidden;
}
p {
	line-height: 25px;
	margin-top: 16px;
	margin-bottom: 16px;
}
a.button {
	border: none;
	color: #6e6d7a;
	display: inline-block;
	background: #ea4c89;
	border-radius: 8px;
	height: 40px;
	padding: 10px 16px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.85);
}
ol,
ul {
	list-style: none;
	display: grid;
}

/* 导航栏 */
.NavContainer {
	display: flex;
	align-items: center;
	/* height: 68px; */
	margin-left: 24px;
	margin-right: 24px;
	justify-content: space-between;
}

header .IconContainer {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100%;
	cursor: pointer;
}

.SignUpContainer {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #f9f8fd;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}
.SignUpTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0 0 0;
}
header .Signin {
	margin: 20px 10px;
}

.wrap {
	/* padding: 30px; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: center; */
	text-align: center;
	align-content: center;
	/* flex-wrap: wrap; */
	gap: 10px;
}

.wrap img {
	width: 100%;
	margin: 50px 0 20px 0;
}

nav .Logo {
	/* position: fixed;
	left: 100px; */
	align-items: center;
	position: relative;

	left: 8px;
}

nav .menu,
nav .close {
	margin: 0;
	height: 24px;
	width: 52px;
}

/* 第一张大图 & sSign up */
.wrap .SignUpContainer img {
	max-width: 275px;
}

.SignUpH1 {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0;
	max-width: 375px;
}
.SignUpText {
	color: #6e6d7a;
	font-size: 1.1rem;
	max-width: 400px;
}

.SignUpButton {
	max-width: 90px;
	margin: 10px 0 35px 0;
}

/* 瀑布式图片 */
.contentList {
	margin: 10px 0 20px 0;
	padding: 0 20px;
	list-style: none;
	display: grid;
	gap: 36px;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
.contentList img {
	margin: 0;
}
div.screenshot {
	border-radius: 8px;
	overflow: hidden;
	line-height: 0px;
	margin: 0 0 10px 0;
}
.contentList .screenshotInformation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* 作者信息 */
.contentList .userInformation {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.contentList .userInformation .user {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.contentList .userInformation .userInformationImg {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}
.contentList .userInformation .userInformationName {
	margin-left: 8px;
	font-size: 14px;
	line-height: 20px;
	text-overflow: ellipsis;
	color: #0d0c22;
	font-weight: 600;
}
.contentList .userInformation .userInformationbadge {
	display: flex;
	margin-left: 8px;
	border-radius: 3px;
	background: #ccc;
	align-items: center;
	height: fit-content;
}
.contentList .userInformation .userInformationbadge span {
	padding: 2px 3px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}

/* 点赞和浏览信息 */
.contentList .statistics a {
	display: flex;
	align-items: center;
}
.contentList .statistics img {
	width: 14px;
	height: 14px;
	margin: 0 2px;
}
.contentList .statistics {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #3d3d4e;
	font-weight: 550;
	font-size: 12px;
}
.contentList .statisticsLike,
.contentList .statisticsView {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

/* 底部栏 */
footer {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	background: #fafafb;
}
footer .footerContainer {
	display: flex;
	flex-direction: column;
	padding: 48px 20px 32px 20px;
}
footer .footerImg {
	height: 26px;
	width: 104px;
}
footer .footerText {
	margin: 20px 0 10px 0;
	max-width: 256px;
	font-size: 100%;
}

/* 点击遮罩 */
.navOnclickContainer {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: block;
}
.hidden {
	display: none;
}

nav .IconContainer .hidden {
	display: none;
}
.navOnclickContainerList {
	display: grid;
	gap: 20px;
	padding: 23px 23px 120px 23px;
}
.navOnclickContainer .navOnclickListElem {
	color: #6e6d7a;
	font-size: 18px;
	font-weight: 600;
}
