@import '~antd/dist/antd.css';

.logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.site-layout-background {
	background: #fff;
}

/* header 样式 */

.header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.headerTitle {
	color: #fff;
	display: block;
}
.userName {
	color: #fff;
	display: block;
}
.LoginBoxContainer {
	width: 300px;
}
